:root{
    /*Paleta de colores*/
    --fuentePrincipal:'Raleway', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --fuenteSecundaria:'Ephesis', cursive;
}


body {
    padding: 0;
    margin: 0;
    font-family: var(--fuentePrincipal);
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; /* Esta propiedad sirve para quitar la línea a un link*/
}

.contenedor {
    margin: 0 auto;
    max-width: 40rem;
    width: 95%;
}



/************* PAGINA DE INCIO ****************/
#inicio h2 {
    color: rgb(14 4 54);
    text-align: center;
    text-transform: uppercase;/* Esta propiedad sirve para transformar texto de minuscula a mayuscula */
}
#inicio {
    font-family: var(--fuentePrincipal);
    height: 100vh;
    background: linear-gradient(40deg, rgba(2, 0, 36, 0.322), rgba(15, 15, 16, 0.329) 35%, rgba(122, 126, 127, 0.432)), url(https://cdn.pixabay.com/photo/2017/06/16/13/40/new-home-2409165_1920_1271.jpg);
    display: flex;
    justify-content: center; /* Esta propiedad sirve para ajustar un contenedor de forma horizontal */
    align-items: center; /* Esta propiedad sirve para ajustar un contenedor de forma vertical */
    background-position: center center;
    background-repeat: no-repeat;
}
#inicio form {
    font-weight: 600;
    padding: 50px;
    background-color: rgba(169, 194, 231, 0.644);
    padding-top: 25px;
    box-shadow: 16px 16px rgba(58, 63, 58, 0.322);
    border-radius: 10px;
}
#inicio input {
    color: rgb(14, 9, 9);
    width: calc(100% - 20px);
    height: 15px;
    padding: 9px;
    margin: auto;
    margin-top: 12px;
    font-size: 16px;
    border-radius: .5rem;
    border: none;
}
#inicio #tipo {
    width: 50%;
    height: 35px;
    margin: auto;
    margin-top: 2px;
    font-size: 15px;
    border-radius: 8px;
}
#inicio #btn {
    background-color: rgb(14 4 54);
    color: #fff;
    width: 100px;
    height: 40px;
    border: 2px solid rgb(14, 12, 12);
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
}
#inicio #btn:hover {
    background-color: rgb(202, 156, 71);
    color: black;
    -webkit-box-shadow: 0px 9px 17px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 17px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 17px 4px rgba(0, 0, 0, 0.75);
    transition: all .4s;
}
#inicio #btn-inicio {
    display: flex;
    justify-content: right;
}
#inicio #link-inicio {
    color: rgb(14 4 54);
}


/************* PAGINA DE REGISTRO ****************/
#registro{
    height: 100vh;
    background: linear-gradient(40deg, rgba(2, 0, 36, 0.322), rgba(15, 15, 16, 0.329) 35%, rgba(122, 126, 127, 0.432)), url(https://cdn.pixabay.com/photo/2015/03/26/10/34/houses-691586_1920_1280.jpg);   
    background-position: left center;
    background-repeat: no-repeat;
    position: relative;
}

#registro h1{
    padding-top: 3rem;
   text-align: center;
   color: #fff;
}

#registro main{
    position: absolute;
    width: 100vw;
    top: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -3rem;
}

#registros-seleccion{
    
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

#registro a{
    background-color: #fff;
    padding: 5rem;
    width: 50%;
    text-align: center;
    color:black;
}

#registro a span{
    font-weight: 600;
}
#registro a svg{
    padding-top: .5rem;
    height: 90px;
    width: 90px;
    
}

#registro a:hover{
    background-color: rgb(122, 207, 106);
    transition: all .5s;
    -webkit-box-shadow: 0px 9px 17px 4px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 9px 17px 4px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 9px 17px 4px rgba(255, 255, 255, 0.75);
    transform: scale(1.05);
    transform-origin: center center;
    
}

/********** FORMULARIO PROPIETARIO ************/

#form-p{
    height: 100vh;
    background: linear-gradient(40deg, rgba(2, 0, 36, 0.5), rgba(15, 15, 16, 0.589) 35%, rgba(122, 126, 127, 0.644)), url( https://cdn.pixabay.com/photo/2018/01/31/15/40/house-3121343_1920_1201.jpg);   
    background-position: left center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}

#contenedor-p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    max-width: 65rem;
    
}
#contenedor-p h2{
    color: #fff;
    text-align: right;
    font-family: var(--fuenteSecundaria);
    font-size: 3rem;
}
#contenedor-p h2:hover{
    transition: all .5s;
    transform: scale(1.1);
    transform-origin: center center;
}
#form-propietario{
    /*background-color: rgba(167, 156, 209, 0.459);*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4ec981+0,b0e8a9+100&0.65+0,0.26+100 */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4ec981+0,1ae500+100&0.85+0,0.39+100 */
    background: -moz-linear-gradient(top,  rgba(78,201,129,0.85) 0%, rgba(26,229,0,0.39) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(78,201,129,0.85) 0%,rgba(26,229,0,0.39) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(78,201,129,0.85) 0%,rgba(26,229,0,0.39) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d94ec981', endColorstr='#631ae500',GradientType=0 ); /* IE6-9 */

    max-width: 30rem;
    padding: 1rem;
    border-radius: .5rem;
}

#form-propietario h1{
    color:rgb(0, 0, 0);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

#form-propietario input{
    width: 95%;
    border-radius: .2rem;
    border: none;
    height: 1.3rem;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

#form-propietario label{
    margin-bottom: 2rem;
}